/* Styling of standard trail-elements
------------------------*/

/* Trail-title container */
.breadcrumb {
    padding: 0px;
}
.trail-title-container {
    background-color: gainsboro;
    width: 100%;
    margin: 0px;
    padding: 7px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
}
.trail-title {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    color: rgb(100, 100, 100);
    font-size: 1em;
}

/* Start button*/
.start-button-trails {
    background-color: greenyellow;
}

/* Horizontal-Pad- and Desktop-Screens */
/*------------------------*/
@media (min-width: 700px) {
    .trail-title-container {
        display: none;
    }
}
